(1) Make a plot of the standard normal curve on the interval [-4, 4]. Give the plot a title "Standard normal curve", an x label of "Normal deviate" and a y label of "Density".

(2) What is the area under the curve to the right of x=3? In other words, what is the probability of drawing a random number from the normal distribution that is 3 standard deviations or more larger than the mean?

(3) If the expression valuse for a gene are normally distributed with mean 10 and standard deviation 2, what is the value of a gene at the 95th percentile?

Generate 50 numbers from a normal distribtuion with mean=10 and sd=2. Now trnaform this vector so that the numbers have a stnadard normal distribtuion with mean=0 and sd=1.

(4) A t-test with 6 degrees of freedom has a score of 3.5. Using only the dt, pt, qt or rt probability functions, what is the p-value if this was a two-sided test? Recall that a p-value is the probailty of seeing a value as extreme or more extreme than the observed score, assuming the score was drawn from the specified distirbution.

(5) Draw 1 million random numbers from the t-distirbution with 6 degrees of freedom. How many times is the numbr less than -3.5 or greater than 3.5?

(6) Find the mean value of all numeric variables for the mtcars data, grouping by number of gears and automtatic or manual transmission. (Hint: Use the aggregate function)

In [80]:
library(plyr)
library(reshape2)
data(airquality)

Warning message:
: package ‘plyr’ was built under R version 3.1.3

In [43]:
head(airquality)

  Ozone Solar.R Wind Temp Month Day
1    41     190  7.4   67     5   1
2    36     118  8.0   72     5   2
3    12     149 12.6   74     5   3
4    18     313 11.5   62     5   4
5    NA      NA 14.3   56     5   5
6    28      NA 14.9   66     5   6

(7) Use `melt` to convert the airquality dataframe into a "tall" format using Month and Day as teh id variables, saving it as a new datafrmae. Print the first 6 rows.

(8) Find the avarage values of Ozone, Solar.R, Wind and Temp for each month using `dcast`. Hint: Give an extra argument `na.rm = TRUE` to ignore missing data.

(9) Find the avarage values of Ozone, Solar.R, Wind and Temp for each month using `dcast`, but only for the first 2 weeks of each month. Hint: Give an extra argument `na.rm = TRUE` to ignore missing data. Hint: Use the subset argument.

**Questions below use the day.1 and day.2 dataframes**

In [111]:
set.seed(123)
pid.1 <- c(1,1,2,2)
gid.1 <- c(1,2,1,2)
val.1 <- rnorm(4)
day.1 <- data.frame(pid=pid.1, gid=gid.1, val=val.1)

pid.2 <- c(1,1,2,2)
gid.2 <- c(1,2,1,2)
val.2 <- 1 + rnorm(4)
day.2 <- data.frame(pid=pid.2, gid=gid.2, val=val.2)

In [112]:
day.1

  pid gid         val
1   1   1 -0.56047565
2   1   2 -0.23017749
3   2   1  1.55870831
4   2   2  0.07050839

In [113]:
day.2

  pid gid        val
1   1   1  1.1292877
2   1   2  2.7150650
3   2   1  1.4609162
4   2   2 -0.2650612

(10) Suppose day.1 and day.2 are results from experiments performed on differnet days. Merge the data from day.1 and day.2 into a single dataframe caleld `days` to combine the data sets.

(11) Sort the `days` dataframe by val1 in decreasing order.

In [ ]:
(12) Remove duplicate rows from the following dataframe.

In [4]:
df <- read.csv("df.csv")
df

  pid gid        val1       val2
1   1   1 -0.56047565  1.1292877
2   1   1 -0.56047565  1.1292877
3   1   2 -0.23017749  2.7150650
4   2   2  0.07050839 -0.2650612
5   2   2  0.07050839 -0.2650612
6   2   1  1.55870831  1.4609162