Working with dataframes
----

Practice TWO is meant to help you get comfortable working with data frames, and the basic ways you can slice and dic

(1) How many rows and columns are there in the `mtcars` dataframe?

(2) Show the last 6 rows of `mtcars`.

(3) Show 6 rows at random (no duplicates) from `mtcars`

(4) Display information only for the subset of cars with automatic transmission.

(5) Display information only for the subset of cars with weight between 2 and 3.

(6) What is the mean weight of all cars?

In [ ]:
(7) What is the mean weight of cars wtih `mpg` greater than 20?

(8) Add a column `kpl` showing the number of kilometers per liter (1 mile = 1.609344 kilometers, and 1 gallon = 3.78541178 liters)

(9) Make a new dataframe `mtcars.1` with only the `mpg` and `kpl` columns.

(10) Perform a linear regression model of `mpg` against `wt`. Plot the model fit.