<H1>Functional Programming

Functional programming refers to a specialized way of writing code so that 'side effects' are avoided, making the outcome of the code easier to predict. It is 'declarative' - functions are given as expressions, as opposed to 'imperative', where commands are issued to change the state of the program (e.g. change the value of variables by assignment). Historically, programming has been imperative, but the notion of functional programming is gaining ground lately, especially because of its connection to paralellization and distributed computing.

We won't discuss the methodology in detail, but we will cover the basic R tools for functional programming - tools that allow us to apply functions across data structures. These tools allow us to avoid looping by extending the ability to vectorize operations.

<H2> R apply

`apply` maps a function to a matrix:

In [2]:
m<-matrix(rnorm(30),ncol=3,nrow=10)
print(m)

             [,1]        [,2]        [,3]
 [1,] -1.88415809 -0.09135793 -0.04933136
 [2,]  0.27581447  0.59928155 -0.01019772
 [3,]  0.23509325 -1.38182122 -1.49150530
 [4,] -1.29592234 -0.10180487 -1.62481563
 [5,]  0.31163838 -1.16070666  0.60327878
 [6,]  0.23685780  0.80313813  1.49028075
 [7,] -0.51883441  0.30667497  0.81876505
 [8,] -0.01050835 -1.49125738  1.67045716
 [9,] -0.17823674  0.50897338 -1.11499439
[10,]  1.00128144  0.70455616 -0.23839229

In [3]:
# Get the mean of the rows, returned as a vector 
apply(m,1,mean)

 [1] -0.67494913  0.28829943 -0.87941109 -1.00751428 -0.08192983  0.84342556
 [7]  0.20220187  0.05623047 -0.26141925  0.48914844

In [4]:
# Get the mean of the columns, returned as a vector 
apply(m,2,mean)

[1] -0.182697458 -0.130432388  0.005354504

<H3> Work!

* Find the sum of each of the columns of the matrix m.
* Find the product of each of the rows of the matrix m.

<H3>Custom Functions and `apply`

Any function that acts on a vector can be applied to the rows or columns of a matrix using `apply`. For example:

In [5]:
apply(m,1,function(x) x*x)

            [,1]         [,2]       [,3]       [,4]       [,5]       [,6]
[1,] 3.550051709 0.0760736240 0.05526884 1.67941472 0.09711848 0.05610162
[2,] 0.008346272 0.3591383746 1.90942989 0.01036423 1.34723996 0.64503085
[3,] 0.002433583 0.0001039935 2.22458805 2.64002584 0.36394529 2.22093671
           [,7]         [,8]       [,9]      [,10]
[1,] 0.26918914 0.0001104255 0.03176834 1.00256453
[2,] 0.09404954 2.2238485730 0.25905391 0.49639938
[3,] 0.67037621 2.7904271078 1.24321250 0.05683088

In [6]:
apply(m,1,function(x) x%*%x)

 [1] 3.560832 0.435316 4.189287 4.329805 1.808304 2.922069 1.033615 5.014386
 [9] 1.534035 1.555795

Note that `apply` returns an object of the appropriate dimension automagically. In the first example, the multiplication operator is the element-by-element product, so `apply` give us a matrix whose rows are the result of multiplying each of the 3 rows by itself. In the second example, the multiplication operator is a dot product, so `apply` returns a 10-dimensional vector with each entry the squared norm of the 3-dimensional row vector.

<H3> Work!

Use `apply` to count the number of negative values in each column of m.

<H3> `sapply` and `lapply`

R has several other versions of apply, for specific types of input and output data structures. Two of the most common are `lapply` and `sapply`. `sapply` can operate on either a list or a vector and returns a list or vector, respectively. `lapply` can operate on either a list or a vector, but returns a list.

For example:

In [35]:
v<-1:10
sapply(v,function(x) x*2)

 [1]  2  4  6  8 10 12 14 16 18 20

In [36]:
v<-1:10
lapply(v,function(x) x*2)

[[1]]
[1] 2

[[2]]
[1] 4

[[3]]
[1] 6

[[4]]
[1] 8

[[5]]
[1] 10

[[6]]
[1] 12

[[7]]
[1] 14

[[8]]
[1] 16

[[9]]
[1] 18

[[10]]
[1] 20

<H3> Aside on Lists

You may be wondering what is the difference between lists and vectors? Well, vectors are lists - but they are a specific type of list that contains only numbers. Lists can contain different types of objects. Consider the following:

In [24]:
my.list<-list(v,m)
my.list

[[1]]
 [1]  1  2  3  4  5  6  7  8  9 10

[[2]]
             [,1]        [,2]        [,3]
 [1,] -1.88415809 -0.09135793 -0.04933136
 [2,]  0.27581447  0.59928155 -0.01019772
 [3,]  0.23509325 -1.38182122 -1.49150530
 [4,] -1.29592234 -0.10180487 -1.62481563
 [5,]  0.31163838 -1.16070666  0.60327878
 [6,]  0.23685780  0.80313813  1.49028075
 [7,] -0.51883441  0.30667497  0.81876505
 [8,] -0.01050835 -1.49125738  1.67045716
 [9,] -0.17823674  0.50897338 -1.11499439
[10,]  1.00128144  0.70455616 -0.23839229

As you can see, `my.list` contains a vector AND a matrix. Now, lets use `lapply`:

In [28]:
lapply(my.list,function(x) x*2)

[[1]]
 [1]  2  4  6  8 10 12 14 16 18 20

[[2]]
            [,1]       [,2]        [,3]
 [1,] -3.7683162 -0.1827159 -0.09866272
 [2,]  0.5516289  1.1985631 -0.02039544
 [3,]  0.4701865 -2.7636424 -2.98301059
 [4,] -2.5918447 -0.2036097 -3.24963127
 [5,]  0.6232768 -2.3214133  1.20655757
 [6,]  0.4737156  1.6062763  2.98056150
 [7,] -1.0376688  0.6133499  1.63753010
 [8,] -0.0210167 -2.9825148  3.34091431
 [9,] -0.3564735  1.0179468 -2.22998879
[10,]  2.0025629  1.4091123 -0.47678458

What does `sapply` do?

In [31]:
sapply(my.list,function(x) x*2)

[[1]]
 [1]  2  4  6  8 10 12 14 16 18 20

[[2]]
            [,1]       [,2]        [,3]
 [1,] -3.7683162 -0.1827159 -0.09866272
 [2,]  0.5516289  1.1985631 -0.02039544
 [3,]  0.4701865 -2.7636424 -2.98301059
 [4,] -2.5918447 -0.2036097 -3.24963127
 [5,]  0.6232768 -2.3214133  1.20655757
 [6,]  0.4737156  1.6062763  2.98056150
 [7,] -1.0376688  0.6133499  1.63753010
 [8,] -0.0210167 -2.9825148  3.34091431
 [9,] -0.3564735  1.0179468 -2.22998879
[10,]  2.0025629  1.4091123 -0.47678458

Same thing! Well, what we see here is that R is sometimes smarter than us. `sapply` returns a list, because we gave it a list. Let's try something else:

In [44]:
another.list<-list(1:5)
mult.list<-sapply(another.list,function(x) x*2)
print(mult.list)

     [,1]
[1,]    2
[2,]    4
[3,]    6
[4,]    8
[5,]   10

Now what? `sapply` gave us a *matrix*.

In [45]:
dim(mult.list)

[1] 5 1

Why R does this is a bit beyond our scope. The take-away here is to be careful with data types, and try to give R the right one. If you want a vector returned, give R a vector, not a list!

<H4> One more thing about lists

If you mix character or logical types, you can get unintended results:

In [48]:
my.list<-list(1:5,TRUE,TRUE)
mult.list<-sapply(my.list,function(x) x*2)
print(mult.list)

[[1]]
[1]  2  4  6  8 10

[[2]]
[1] 2

[[3]]
[1] 2

R interpreted `TRUE` as a numeric 1.

In [50]:
my.list<-list(1:5,"a","b")
mult.list<-sapply(my.list,function(x) x*2)
print(mult.list)

ERROR: Error in x * 2: non-numeric argument to binary operator

     [,1]
[1,]    2
[2,]    4
[3,]    6
[4,]    8
[5,]   10

In [51]:
my.list<-list(1:5,"1","2")
mult.list<-sapply(my.list,function(x) x*2)
print(mult.list)

ERROR: Error in x * 2: non-numeric argument to binary operator

     [,1]
[1,]    2
[2,]    4
[3,]    6
[4,]    8
[5,]   10

In these last two examples, R returns an error, because we have tried to multiply by a character type.