<H1> Logistic Regression

Recall the linear model

$$y = \alpha + \beta x + \epsilon$$

Linear models are appropriate where the response variable ($y$) is continuous and the errors ($\epsilon$) are normally distributed. Many experimental designs (for example, case-control) have categorical outcomes and/or outcomes whose errors are not normally distributed. Categorical data can be analyzed using a method called 'logistic regression'. The theory was covered in the statistics lectures, so this lab will focus on the R implementation. We will briefly remind you of some definitions and notation.

In logistic regression, we model the *probability* of the outcome $y$, given the independent variable $x$. That is, 
$Y|x$ is Bernoulli, with success probability $p$ given by: 

$$\mathbb{E}(Y|x) = p = \frac{1}{1+e^{-(\alpha + \beta x)}}$$

Note that $p$ is bounded between $0$ and $1$ and is defined for all values of $\alpha + \beta x$.

We use the notation $expit(t)$ to denote the following:

$$expit(t) = \frac{1}{1+e^{-t}}$$

$expit$ is known as the *logistic function*.

and $logit(t)$ to denote:

$$logit(t) = \log\left(\frac{1}{1-t}\right)$$

Note that:

$$logit(expit(t)) = t$$

so that 

$$logit(p) = \alpha + \beta x$$

Because $logit(p) = logit(\mathbb{E(Y|x)})$, logistic regression is considered a *generalized linear model*. That just means (roughly!) that there is a function ($logit$, this case) that transforms the conditional expectation (the outcome, given the data) into a linear function.


So, how do we perform a logistic regression in R? First, let's get a data set:

In [46]:
Titanic<-read.csv("titanic.csv")

In [47]:
attach(Titanic)
#Titanic
library(plyr)
revalue(pclass, c("1st"=1, "2nd"=0,"3rd"=0))
Titanic

The following objects are masked from Titanic (pos = 3):

    age, boat, embarked, home.dest, name, pclass, room, row.names, sex,
    survived, ticket

The following objects are masked from Titanic (pos = 5):

    age, boat, embarked, home.dest, name, pclass, room, row.names, sex,
    survived, ticket

The following objects are masked from Titanic (pos = 6):

    age, boat, embarked, home.dest, name, pclass, room, row.names, sex,
    survived, ticket

   [1] 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
  [38] 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
  [75] 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 [112] 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 [149] 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 [186] 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 [223] 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 [260] 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 [297] 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0
 [334] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 [371] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 [408] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 [445] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 [482] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 [519] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 [556] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 [593] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 [630] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 [667] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 [704] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 [741] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 [778] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 [815] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 [852] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 [889] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 [926] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 [963] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
[1000] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
[1037] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
[1074] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
[1111] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
[1148] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
[1185] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
[1222] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
[1259] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
[1296] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
Levels: 1 0

     row.names pclass survived
1            1    1st        1
2            2    1st        0
3            3    1st        0
4            4    1st        0
5            5    1st        1
6            6    1st        1
7            7    1st        1
8            8    1st        0
9            9    1st        1
10          10    1st        0
11          11    1st        0
12          12    1st        1
13          13    1st        1
14          14    1st        1
15          15    1st        0
16          16    1st        1
17          17    1st        0
18          18    1st        0
19          19    1st        1
20          20    1st        1
21          21    1st        1
22          22    1st        0
23          23    1st        1
24          24    1st        1
25          25    1st        1
26          26    1st        0
27          27    1st        1
28          28    1st        1
29          29    1st        1
30          30    1st        0
31          31    1st        1
32          32    1st        1
33          33    1st        1
34          34    1st        0
35          35    1st        0
36          36    1st        0
37          37    1st        1
38          38    1st        1
39          39    1st        1
40          40    1st        0
41          41    1st        1
42          42    1st        1
43          43    1st        1
44          44    1st        1
45          45    1st        0
46          46    1st        0
47          47    1st        0
48          48    1st        1
49          49    1st        1
50          50    1st        1
51          51    1st        1
52          52    1st        0
53          53    1st        1
54          54    1st        0
55          55    1st        1
56          56    1st        0
57          57    1st        1
58          58    1st        1
59          59    1st        1
60          60    1st        1
61          61    1st        1
62          62    1st        1
63          63    1st        0
64          64    1st        0
65          65    1st        1
66          66    1st        0
67          67    1st        0
68          68    1st        1
69          69    1st        0
70          70    1st        1
71          71    1st        1
72          72    1st        0
73          73    1st        0
74          74    1st        1
75          75    1st        1
76          76    1st        0
77          77    1st        1
78          78    1st        1
79          79    1st        1
80          80    1st        0
81          81    1st        1
82          82    1st        1
83          83    1st        1
84          84    1st        1
85          85    1st        1
86          86    1st        1
87          87    1st        1
88          88    1st        1
89          89    1st        0
90          90    1st        1
91          91    1st        1
92          92    1st        1
93          93    1st        0
94          94    1st        1
95          95    1st        1
96          96    1st        0
97          97    1st        1
98          98    1st        1
99          99    1st        0
100        100    1st        1
101        101    1st        0
102        102    1st        1
103        103    1st        1
104        104    1st        0
105        105    1st        1
106        106    1st        0
107        107    1st        1
108        108    1st        1
109        109    1st        1
110        110    1st        1
111        111    1st        1
112        112    1st        1
113        113    1st        0
114        114    1st        1
115        115    1st        0
116        116    1st        1
117        117    1st        1
118        118    1st        1
119        119    1st        1
120        120    1st        0
121        121    1st        1
122        122    1st        0
123        123    1st        1
124        124    1st        1
125        125    1st        1
126        126    1st        1
127        127    1st        0
128        128    1st        1
129        129    1st        1
130        130    1st        1
131        131    1st        1
132        132    1st        0
133        133    1st        1
134        134    1st        1
135        135    1st        0
136        136    1st        1
137        137    1st        1
138        138    1st        0
139        139    1st        0
140        140    1st        0
141        141    1st        1
142        142    1st        1
143        143    1st        1
144        144    1st        0
145        145    1st        1
146        146    1st        1
147        147    1st        1
148        148    1st        1
149        149    1st        0
150        150    1st        0
151        151    1st        1
152        152    1st        0
153        153    1st        0
154        154    1st        0
155        155    1st        0
156        156    1st        1
157        157    1st        1
158        158    1st        1
159        159    1st        0
160        160    1st        1
161        161    1st        0
162        162    1st        0
163        163    1st        1
164        164    1st        1
165        165    1st        1
166        166    1st        0
167        167    1st        0
168        168    1st        1
169        169    1st        0
170        170    1st        1
171        171    1st        0
172        172    1st        1
173        173    1st        0
174        174    1st        1
175        175    1st        0
176        176    1st        0
177        177    1st        1
178        178    1st        0
179        179    1st        1
180        180    1st        0
181        181    1st        1
182        182    1st        0
183        183    1st        1
184        184    1st        1
185        185    1st        0
186        186    1st        0
187        187    1st        0
188        188    1st        0
189        189    1st        1
190        190    1st        1
191        191    1st        1
192        192    1st        0
193        193    1st        1
194        194    1st        0
195        195    1st        1
196        196    1st        0
197        197    1st        0
198        198    1st        0
199        199    1st        0
200        200    1st        0
201        201    1st        1
202        202    1st        0
203        203    1st        1
204        204    1st        1
205        205    1st        0
206        206    1st        1
207        207    1st        0
208        208    1st        1
209        209    1st        1
210        210    1st        0
211        211    1st        1
212        212    1st        0
213        213    1st        1
214        214    1st        0
215        215    1st        1
216        216    1st        0
217        217    1st        1
218        218    1st        0
219        219    1st        0
220        220    1st        1
221        221    1st        1
222        222    1st        1
223        223    1st        1
224        224    1st        1
225        225    1st        1
226        226    1st        1
227        227    1st        1
228        228    1st        1
229        229    1st        1
230        230    1st        0
231        231    1st        1
232        232    1st        1
233        233    1st        1
234        234    1st        0
235        235    1st        0
236        236    1st        0
237        237    1st        1
238        238    1st        0
239        239    1st        1
240        240    1st        1
241        241    1st        1
242        242    1st        1
243        243    1st        1
244        244    1st        0
245        245    1st        1
246        246    1st        1
247        247    1st        0
248        248    1st        1
249        249    1st        1
250        250    1st        1
251        251    1st        0
252        252    1st        1
253        253    1st        0
254        254    1st        0
255        255    1st        0
256        256    1st        1
257        257    1st        0
258        258    1st        1
259        259    1st        1
260        260    1st        1
261        261    1st        1
262        262    1st        0
263        263    1st        1
264        264    1st        1
265        265    1st        0
266        266    1st        1
267        267    1st        1
268        268    1st        0
269        269    1st        0
270        270    1st        0
271        271    1st        0
272        272    1st        1
273        273    1st        0
274        274    1st        1
275        275    1st        0
276        276    1st        0
277        277    1st        0
278        278    1st        1
279        279    1st        1
280        280    1st        0
281        281    1st        1
282        282    1st        0
283        283    1st        1
284        284    1st        0
285        285    1st        0
286        286    1st        1
287        287    1st        1
288        288    1st        0
289        289    1st        1
290        290    1st        1
291        291    1st        1
292        292    1st        1
293        293    1st        1
294        294    1st        1
295        295    1st        1
296        296    1st        1
297        297    1st        1
298        298    1st        1
299        299    1st        1
300        300    1st        0
301        301    1st        0
302        302    1st        1
303        303    1st        0
304        304    1st        1
305        305    1st        0
306        306    1st        0
307        307    1st        0
308        308    1st        0
309        309    1st        1
310        310    1st        0
311        311    1st        1
312        312    1st        1
313        313    1st        0
314        314    1st        1
315        315    1st        0
316        316    1st        1
317        317    1st        0
318        318    1st        0
319        319    1st        1
320        320    1st        0
321        321    1st        0
322        322    1st        1
323        323    2nd        0
324        324    2nd        1
325        325    2nd        0
326        326    2nd        0
327        327    2nd        0
328        328    2nd        1
329        329    2nd        0
330        330    2nd        0
331        331    2nd        0
332        332    2nd        1
333        333    2nd        0
334        334    2nd        0
335        335    2nd        1
336        336    2nd        1
337        337    2nd        0
338        338    2nd        1
339        339    2nd        1
340        340    2nd        1
341        341    2nd        1
342        342    2nd        1
343        343    2nd        1
344        344    2nd        0
345        345    2nd        0
346        346    2nd        0
347        347    2nd        0
348        348    2nd        1
349        349    2nd        0
350        350    2nd        1
351        351    2nd        1
352        352    2nd        0
353        353    2nd        1
354        354    2nd        0
355        355    2nd        0
356        356    2nd        1
357        357    2nd        1
358        358    2nd        1
359        359    2nd        1
360        360    2nd        1
361        361    2nd        0
362        362    2nd        0
363        363    2nd        0
364        364    2nd        0
365        365    2nd        0
366        366    2nd        0
367        367    2nd        0
368        368    2nd        1
369        369    2nd        1
370        370    2nd        0
371        371    2nd        1
372        372    2nd        0
373        373    2nd        0
374        374    2nd        1
375        375    2nd        0
376        376    2nd        1
377        377    2nd        1
378        378    2nd        0
379        379    2nd        0
380        380    2nd        0
381        381    2nd        0
382        382    2nd        0
383        383    2nd        0
384        384    2nd        1
385        385    2nd        1
386        386    2nd        1
387        387    2nd        0
388        388    2nd        0
389        389    2nd        0
390        390    2nd        1
391        391    2nd        0
392        392    2nd        0
393        393    2nd        1
394        394    2nd        1
395        395    2nd        0
396        396    2nd        0
397        397    2nd        1
398        398    2nd        1
399        399    2nd        1
400        400    2nd        1
401        401    2nd        0
402        402    2nd        0
403        403    2nd        0
404        404    2nd        0
405        405    2nd        1
406        406    2nd        0
407        407    2nd        0
408        408    2nd        0
409        409    2nd        0
410        410    2nd        0
411        411    2nd        0
412        412    2nd        0
413        413    2nd        1
414        414    2nd        0
415        415    2nd        0
416        416    2nd        0
417        417    2nd        0
418        418    2nd        0
419        419    2nd        0
420        420    2nd        0
421        421    2nd        0
422        422    2nd        0
423        423    2nd        0
424        424    2nd        0
425        425    2nd        1
426        426    2nd        1
427        427    2nd        0
428        428    2nd        0
429        429    2nd        1
430        430    2nd        1
431        431    2nd        0
432        432    2nd        0
433        433    2nd        1
434        434    2nd        1
435        435    2nd        1
436        436    2nd        1
437        437    2nd        0
438        438    2nd        1
439        439    2nd        1
440        440    2nd        0
441        441    2nd        0
442        442    2nd        0
443        443    2nd        0
444        444    2nd        1
445        445    2nd        0
446        446    2nd        1
447        447    2nd        0
448        448    2nd        0
449        449    2nd        0
450        450    2nd        1
451        451    2nd        0
452        452    2nd        1
453        453    2nd        0
454        454    2nd        0
455        455    2nd        0
456        456    2nd        1
457        457    2nd        0
458        458    2nd        1
459        459    2nd        0
460        460    2nd        0
461        461    2nd        0
462        462    2nd        0
463        463    2nd        1
464        464    2nd        0
465        465    2nd        1
466        466    2nd        0
467        467    2nd        0
468        468    2nd        1
469        469    2nd        1
470        470    2nd        0
471        471    2nd        0
472        472    2nd        0
473        473    2nd        0
474        474    2nd        0
475        475    2nd        0
476        476    2nd        1
477        477    2nd        0
478        478    2nd        1
479        479    2nd        1
480        480    2nd        1
481        481    2nd        1
482        482    2nd        1
483        483    2nd        0
484        484    2nd        0
485        485    2nd        0
486        486    2nd        0
487        487    2nd        1
488        488    2nd        0
489        489    2nd        0
490        490    2nd        0
491        491    2nd        1
492        492    2nd        1
493        493    2nd        0
494        494    2nd        0
495        495    2nd        1
496        496    2nd        0
497        497    2nd        0
498        498    2nd        0
499        499    2nd        0
500        500    2nd        0
501        501    2nd        1
502        502    2nd        1
503        503    2nd        1
504        504    2nd        0
505        505    2nd        0
506        506    2nd        0
507        507    2nd        0
508        508    2nd        0
509        509    2nd        0
510        510    2nd        0
511        511    2nd        0
512        512    2nd        1
513        513    2nd        1
514        514    2nd        0
515        515    2nd        1
516        516    2nd        0
517        517    2nd        0
518        518    2nd        0
519        519    2nd        1
520        520    2nd        1
521        521    2nd        0
522        522    2nd        1
523        523    2nd        1
524        524    2nd        0
525        525    2nd        1
526        526    2nd        0
527        527    2nd        0
528        528    2nd        1
529        529    2nd        0
530        530    2nd        0
531        531    2nd        1
532        532    2nd        0
533        533    2nd        1
534        534    2nd        0
535        535    2nd        1
536        536    2nd        0
537        537    2nd        1
538        538    2nd        1
539        539    2nd        1
540        540    2nd        0
541        541    2nd        0
542        542    2nd        1
543        543    2nd        1
544        544    2nd        0
545        545    2nd        1
546        546    2nd        1
547        547    2nd        1
548        548    2nd        1
549        549    2nd        0
550        550    2nd        1
551        551    2nd        0
552        552    2nd        0
553        553    2nd        1
554        554    2nd        1
555        555    2nd        1
556        556    2nd        1
557        557    2nd        0
558        558    2nd        1
559        559    2nd        0
560        560    2nd        0
561        561    2nd        1
562        562    2nd        0
563        563    2nd        0
564        564    2nd        0
565        565    2nd        0
566        566    2nd        1
567        567    2nd        0
568        568    2nd        1
569        569    2nd        1
570        570    2nd        0
571        571    2nd        0
572        572    2nd        0
573        573    2nd        0
574        574    2nd        1
575        575    2nd        0
576        576    2nd        1
577        577    2nd        0
578        578    2nd        0
579        579    2nd        1
580        580    2nd        1
581        581    2nd        1
582        582    2nd        0
583        583    2nd        1
584        584    2nd        1
585        585    2nd        1
586        586    2nd        1
587        587    2nd        1
588        588    2nd        1
589        589    2nd        0
590        590    2nd        1
591        591    2nd        0
592        592    2nd        0
593        593    2nd        0
594        594    2nd        1
595        595    2nd        1
596        596    2nd        1
597        597    2nd        1
598        598    2nd        0
599        599    2nd        0
600        600    2nd        1
601        601    2nd        0
602        602    2nd        0
603        603    3rd        0
604        604    3rd        0
605        605    3rd        0
606        606    3rd        1
607        607    3rd        1
608        608    3rd        1
609        609    3rd        1
610        610    3rd        1
611        611    3rd        0
612        612    3rd        0
613        613    3rd        0
614        614    3rd        0
615        615    3rd        0
616        616    3rd        1
617        617    3rd        1
618        618    3rd        0
619        619    3rd        0
620        620    3rd        0
621        621    3rd        0
622        622    3rd        0
623        623    3rd        0
624        624    3rd        0
625        625    3rd        0
626        626    3rd        0
627        627    3rd        0
628        628    3rd        0
629        629    3rd        1
630        630    3rd        0
631        631    3rd        0
632        632    3rd        0
633        633    3rd        0
634        634    3rd        0
635        635    3rd        0
636        636    3rd        0
637        637    3rd        0
638        638    3rd        0
639        639    3rd        0
640        640    3rd        0
641        641    3rd        0
642        642    3rd        1
643        643    3rd        0
644        644    3rd        0

In [42]:
fit.survive<-glm(survived ~ sex + pclass + age + age:pclass,family= "binomial",data = Tdata)

In [43]:
summary(fit.survive)

Call:
glm(formula = survived ~ sex + pclass + age + age:pclass, family = "binomial",
    data = Tdata)

Deviance Residuals:
    Min       1Q   Median       3Q      Max
-2.8679  -0.6631  -0.3145   0.5478   2.6208

Coefficients:
               Estimate Std. Error z value Pr(>|z|)
(Intercept)    4.175621   0.576154   7.247 4.25e-13 ***
sexmale       -3.130012   0.245882 -12.730  < 2e-16 ***
pclass2nd     -0.558110   0.687139  -0.812  0.41666
pclass3rd     -2.730404   0.726326  -3.759  0.00017 ***
age           -0.039911   0.012260  -3.255  0.00113 **
pclass2nd:age -0.030098   0.019484  -1.545  0.12240
pclass3rd:age  0.001764   0.022794   0.077  0.93831
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 869.54  on 632  degrees of freedom
Residual deviance: 536.87  on 626  degrees of freedom
  (680 observations deleted due to missingness)
AIC: 550.87

Number of Fisher Scoring iterations: 5