Scalars
----

In [13]:
n <- 3.14
s <- 'c' 
b <- TRUE

In [8]:
typeof(n)

[1] "double"

In [9]:
typeof(s)

[1] "character"

In [12]:
typeof(b)

[1] "logical"

Vectors
----

Vectors are 1D collections of the same scalar type.

In [37]:
xs <- c(1, 0.5, 0.25)
ss <- c('G', 'A', 'T', 'T', 'A', 'C', 'A')
bs <- c(T, T, F, F, T, T, F, F)

In [28]:
xs

[1] 1.00 0.50 0.25

In [38]:
ss

[1] "G" "A" "T" "T" "A" "C" "A"

In [31]:
bs

[1]  TRUE  TRUE FALSE FALSE  TRUE  TRUE FALSE FALSE

### Extracting a single element

In [32]:
xs[1]

[1] 1

### Extracting elments with a position vector

In [40]:
ss[2:5]

[1] "A" "T" "T" "A"

### Extracting elemnents wiht a logical vector

In [41]:
ss[bs]

[1] "G" "A" "A" "C"

### Extracting elements with a logical condition

In [45]:
ss[ss %in% c('A', 'T')]

[1] "A" "T" "T" "A" "A"

Matrices and Arrays
----

Like vecorrs, only in 2D (matrices) or more (arrays).

In [60]:
m <- matrix(1:12, ncol=4)

In [61]:
m

     [,1] [,2] [,3] [,4]
[1,]    1    4    7   10
[2,]    2    5    8   11
[3,]    3    6    9   12

In [65]:
m[6:10]

[1]  6  7  8  9 10

In [69]:
m[m < 10]

[1] 1 2 3 4 5 6 7 8 9

In [66]:
m[2,]

[1]  2  5  8 11

In [68]:
m[,2]

[1] 4 5 6

Work!
----

Try to solve the following problems without searching the web. You can use the built-in `help()` function.

Create the following $3 \times 3$ matrix and save in a variable called `A`.

- Row 1 = 4, 5, 6
- Row 2 = 1, 2, 3
- Row 3 = 7, 8, 9

What is the sum of all the numbers in A?

Create a vector of the column sums in `A` using the `colSums` function.

Create a vector of the row sums in `A` using the `apply` function.

What is the sum of the numbers in bottom right $2 \times2$ block (i.e the numbers 2, 3, 8, 9)

Lists
----

In [71]:
ls <- list(dna=ss, ispurine=ss %in% c('A', 'G'))

In [72]:
ls

$dna
[1] "G" "A" "T" "T" "A" "C" "A"

$ispurine
[1]  TRUE  TRUE FALSE FALSE  TRUE FALSE  TRUE

### Extracting a sublist from a list

In [81]:
ls[1]

$dna
[1] "G" "A" "T" "T" "A" "C" "A"

In [76]:
class(ls[1])

[1] "list"

### Extracting an element from a list

In [74]:
ls$dna

[1] "G" "A" "T" "T" "A" "C" "A"

In [78]:
class(ls$dna)

[1] "character"

In [75]:
ls[[1]]

[1] "G" "A" "T" "T" "A" "C" "A"

In [77]:
class(ls[[1]])

[1] "character"

Data frames
----

A data frame is a special list of vectors where all the vectors have the same length. Because all the vectors have the same length, it can also be thought of as a 2D table or matrix and manipulated in the same way.

In [85]:
df <- as.data.frame(ls)

In [93]:
class(ls)

[1] "list"

In [92]:
class(df)

[1] "data.frame"

In [91]:
df

  dna ispurine
1   G     TRUE
2   A     TRUE
3   T    FALSE
4   T    FALSE
5   A     TRUE
6   C    FALSE
7   A     TRUE

In [87]:
df[4:6, ]

  dna ispurine
4   T    FALSE
5   A     TRUE
6   C    FALSE

In [88]:
df$ispurine

[1]  TRUE  TRUE FALSE FALSE  TRUE FALSE  TRUE

In [90]:
df[df$ispurine, ]

  dna ispurine
1   G     TRUE
2   A     TRUE
5   A     TRUE
7   A     TRUE

Creating a data frame from scrach
----

In [94]:
gender <- c('M', 'M', 'F', 'F', 'M', 'F', 'M')
height <- c(1.65, 1.82, 1.56, 1.66, 1.72, 1.6, 1.8)
weight <- c(65, 102, 55, 46, 78, 60, 72)

bods <- data.frame(gender, height, weight)

In [95]:
bods

  gender height weight
1      M   1.65     65
2      M   1.82    102
3      F   1.56     55
4      F   1.66     46
5      M   1.72     78
6      F   1.60     60
7      M   1.80     72

We can add a new calculated column easily. Let's include the body mass index (bmi).

In [97]:
bods$bmi <- bods$weight/bods$height^2

In [98]:
bods

  gender height weight      bmi
1      M   1.65     65 23.87511
2      M   1.82    102 30.79338
3      F   1.56     55 22.60026
4      F   1.66     46 16.69328
5      M   1.72     78 26.36560
6      F   1.60     60 23.43750
7      M   1.80     72 22.22222

Let's get rid of the bmi column.

In [100]:
bods$bmi <- NULL

In [101]:
bods

  gender height weight
1      M   1.65     65
2      M   1.82    102
3      F   1.56     55
4      F   1.66     46
5      M   1.72     78
6      F   1.60     60
7      M   1.80     72

Work!
----

How many males are there?

What is the mean height?

What is the mean weight for femalse?

A person is classified as obese if their BMI exceeds 30. Add the BMI column back into the data frame, as well as a new logical column `is.obese` indicating if a person is obese or not.